*}{
    margin: 0;
    padding: 0;
}



#container{
    background-color: bisque;
    width:1000px;
        height: 500px;
    margin: 0 auto;
}

#paisaje{
   width:100%;
    height: 100%;
    position: relative;
    background-image:url(imagenes/paisaje.jpg);
    overflow:hidden;
   
    
}
#titulo{
    position:absolute;
    top:10%;
    left:30%;
    font-size: 100px;
    color: aquamarine;
}

#mar{
    width: 100%;
    height: 50%;
    position: absolute;
    background-image:url(imagenes/mar.jpg);
     top:50%;
    box-shadow: inset 5px 5px 100px black;
}
#peces{
    width: 100px;
    height: 50px;
    left:-20%;
    position: absolute;
    background-image:url(imagenes/dibujo-pez-zebra-ojos-saltones.png);
    background-size:contain;
    animation-name: peces;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    
}
@keyframes peces{
    0%{left:-20%;}
  
   100%{
        left:100%;
    }
    
}
#barco{
  
    width: 250px;
    height: 150px;
    position: absolute;
  
    z-index:  1;
    background-image: url(imagenes/antena-terrestre-barco.png);
    background-size: contain;
    background-repeat: no-repeat;
    top: 20%;
    left: 100%;
    animation-name: navegar;
    animation-duration: 20s;
    animation-direction: normal;
    animation-iteration-count: infinite;
}
@keyframes navegar{
    0%{
        
    }
    100%{
        top: 120%;
    left: 10%;
    }
    
}
